

      <form action="/animals" method ="post">

        <label for="name"> Animal's Name</label>
        <input type="text" id="name" name="name">

        <label for="breed"> Breed</label>
        <input type="text" id="breed" name="breed">

        <label for="adopted"> Adopted</label>
        <input type="text" id="adopted" name="adopted">

        <label for="admission_date"> Admission Date </label>
        <input type="text" id="Admission_date" name="admission_date">

      </form>
