<!DOCTYPE html>
<html lang="en">
<head>
  <title>CodeClan Animal Shelter</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/main2.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

  <div class="container">
    <button type="button">
    <div enter>
      <img src="images/CCAS.png" alt="CCAS Logo" class="image">
      <div class="overlay">
        <div class="text"><a href="/home">Enter</a></div>
      </div>
    </div enter>
    </button>
  </div>

</body>
</html>
