

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Animal Shelter</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<div class="nav">
  <div class= "cell"</div>
  <div class= "cell"</div>
  <div class= "cell"</div>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/animals">Animals</a></li>
      <li><a href="/owners">Owners</a></li>
      <li><a href="/adoptions">Adopt</a></li>
    </ul>
  </div>
</div>
<body>
  <div class="grid">
    </div>
  <%= yield %>
</body>
</html>
