

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="grid">
    <div class="nav">
      <div class= "cell"</div>
      <div class= "cell"</div>
      <div class= "cell"</div>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/animals">Animals</a></li>
          <li><a href="/owners">Owners</a></li>
          <li><a href="/adoptions">Adopt</a></li>
        </ul>
      </div>
    </div>
    </div>
  <%= yield %>
</body>
</html>
