


    body {
      background-position: center;
      background: url('/images/CCAS.png');
      background-color: black;
      background-size: 75%;
      background-repeat:no-repeat;
      color: white;
      font-family: 'Merriweather', serif;
      padding: 25px;
      margin: 25px;
    }

    h1 {
      align-items: stretch;
    }

    display-types {
      font: 24px Helvetica;
      border: 20px;
      padding: 12px;
      width: 60%;
      margin-top: 20px;
      margin-top: 50px;
      display: inline-block;
    }

    /* ol {
      position: right;
      top: 0;
      width: auto%;
      margin: 2;
      padding: 2;
      overflow: hidden;
    } */

    ul {
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    }

    .nav {
      float: left;
      margin-top: 0px;
    }

    li{
      display: inline;
      text-align: center;
    }

    a {
      color: black;
      display: block;
      padding: 4px;
      background-color: white;
    }

    center {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
    }

    .grid{
      border: 30px;
    }

    @media all and (min-width: 960px){
    .grid {
      flex-direction: row;
    }

  li {
      float: left;
  }

  li:hover .nav {
      background-color: goldenrod;
  }
