


    body {
      background: url('/images/background.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      color: white;
      font-family: 'Merriweather', serif;
      padding: 20px;
      margin: 20px;
    }

    #display-types {
      font: 22px Helvetica;
      border: 3px solid grey;
      padding: 10px;
      width: 50%;
      margin-bottom: 40px;
      display: inline-block;
    }

    a {
        color: white;
    }
