


    body {
      background: url('/images/background.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: black;
      color: white;
      font-family: 'Merriweather', serif;
      padding: 25px;
      margin: 25px;
    }

    display-types {
      font: 24px Helvetica;
      border: 20px;
      padding: 12px;
      width: 60%;
      margin-top: 20px;
      margin-top: 50px;
      display: inline-block;
    }

    ul {
      position: right;
      top: 0;
      width: auto%;
      margin: 2;
      padding: 2;
      overflow: hidden;
    }

    .nav {
      float: left;
      margin-top: 0px;
    }

    li{
      display: inline;
      text-align: center;
    }

    /* .active {
    background-color: #4CAF50;
    } */

    a {
      color: black;
      display: block;
      padding: 4px;
      background-color: white;
    }

    center {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
    }

    .grid{
      border: 30px;
    }

    @media all and (min-width: 960px){
    .grid {
      flex-direction: row;
    }
  ul {
      list-style-type: none;
      margin: 8;
      padding: 6;
      overflow: hidden;
      background-color: #666;
  }

  li {
      float: right;
  }

  li a:hover {
      background-color: goldenrod;
  }
